<header class="masthead">
  <nav class="navbar">
    <div class="container">

      <a class="navbar-brand" href="#">
        <img src="assets/img/logo_od.png" alt="Logo Odontología Integral" class="navbar-logo">
        <span>Odontología Integral</span>
      </a>

      <ul class="navbar-menu">
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/quienes-somos">¿Quiénes somos?</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank"><i
              class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank"><i
              class="fab fa-instagram"></i></a></li>
        <li><a href="https://wa.me/1234567890" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
        <li><a routerLink="/login">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>

  <div class="container text-center">
    <h1 class="masthead-title">Contacto</h1>
  </div>
</header>

<section class="contacto">
  <div class="informacion-contacto">
    <p>Estamos aquí para ayudarte con cualquier consulta o pregunta que tengas. Por favor, completa el siguiente
      formulario y nos pondremos en contacto contigo lo antes posible.</p>
  </div>

  <div class="contacto-contenedor">
    <!-- Formulario de contacto -->
    <form id="formulario-contacto" class="formulario-contacto" (ngSubmit)="enviarFormulario()" style="flex: 1;">
      <label for="nombre" class="etiqueta-contacto">Nombre</label>
      <input type="text" id="nombre" name="nombre" class="entrada-contacto" [(ngModel)]="nombre" required>

      <label for="email" class="etiqueta-contacto">Correo Electrónico</label>
      <input type="email" id="email" name="email" class="entrada-contacto" [(ngModel)]="email" required>

      <label for="mensaje" class="etiqueta-contacto">Mensaje</label>
      <textarea id="mensaje" name="mensaje" class="entrada-contacto" [(ngModel)]="mensaje" rows="5" required></textarea>

      <input type="submit" value="Enviar" class="boton-contacto">
    </form>

    <div class="ubicacion">
      <h3 style="text-align: center;">Ubicación</h3>
      <img src="assets/img/mapa.jpg"
        width="800" height="450" style="border:0;"
      >
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-contenido">

      <div class="redes-sociales">
        <h4>Redes Sociales</h4>
        <a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank"
          class="social-link facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank"
          class="social-link instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/1234567890" target="_blank" class="social-link whatsapp">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>

      <div class="infor_macion">
        <div>
          <p>Dirección: Avenida 3 Entre Calles 1 y 2, Fortín de las Flores, Veracruz, México</p>
        </div>
        <div>
          <p>Teléfono: +52 271 240 5758</p>
        </div>
        <div>
          <p>Correo: consultoriodentalintegral12&#64;gmail.com</p>
        </div>
      </div>
    </div>

    <p class="footer-text text-center">© 2025 Odontología Integral. Todos los derechos reservados.</p>
  </div>
</footer>

<button class="boton-flotante" [class.mostrar]="mostrarBoton" (click)="scrollToTop()">^</button>