<div class="titulo">
    <h3>Odontología Integral</h3>
</div>

<h2>Consultorio dental de la Dra. Nancy Sánchez</h2>

<header class="barra">
    <nav>
        <ul>
            <li><a routerLink="/inicio">Inicio</a></li>
            <li><a routerLink="/quienes-somos">¿Quiénes somos?</a></li>
            <li><a routerLink="/servicios">Servicios</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
            <li><a routerLink="/login">Iniciar sesión</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank">
                <i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank">
                <i class="fab fa-instagram"></i></a></li>
            <li><a href="https://wa.me/123456789" target="_blank">
                <i class="fab fa-whatsapp"></i></a></li>
        </ul>
    </nav>
    <img src="assets/img/logo_od.ico" class="logo">
</header>

<section class="contacto">
    <h1 class="titulo1">Contacto</h1>
    <div class="informacion-contacto">
        <p>Estamos aquí para ayudarte con cualquier consulta o pregunta que tengas. Por favor, completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>
    </div>
    <form id="formulario-contacto" class="formulario-contacto">
        <label for="nombre" class="etiqueta-contacto">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="entrada-contacto" required>

        <label for="email" class="etiqueta-contacto">Correo Electrónico</label>
        <input type="email" id="email" name="email" class="entrada-contacto" required>
        
        <label for="mensaje" class="etiqueta-contacto">Mensaje</label>
        <textarea id="mensaje" name="mensaje" class="entrada-contacto" rows="5" required></textarea>
        
        <input type="submit" value="Enviar" class="boton-contacto">
    </form>
    <h3 style="text-align: center;">Ubicación</h3>
    <img style="width: 800px; height: 450px;" src="img/mapa.png" alt="">
</section>

<footer>
    <div class="redes_ss">
        <div class="redes-sociales">
            <div><p style="margin-right: 30px;">Redes Sociales</p></div>
            <a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank" class="social-button facebook">
                <i class="fab fa-facebook"></i> Odontología Integral</a>
            <a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank" class="social-button instagram">
                <i class="fab fa-instagram"></i> &#64;odonto_logia_integral</a>
            <a href="https://wa.me/123456789" target="_blank" class="social-button whatsapp">
                <i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="infor_macion">
        <div><p>Dirección: Avenida 3 Entre Calles 1 y 2, Fortín de las Flores, Veracruz, México</p></div>
        <div><p>Teléfono: +52 271 240 5758</p></div>
        <div><p>Email: consultoriodentalintegral12&#64;gmail.com</p></div>
    </div>
    <div class="derechos">
        <p>&copy; 2024 Odontología Integral. Todos los derechos reservados.</p>
    </div>
</footer>