<div class="titulo">
    <h3>Odontología Integral</h3>
</div>

<h2>Consultorio dental de la Dra. Nancy Sánchez</h2>

<header class="barra">
            <nav>
            <ul>
            <li><a routerLink="/inicio">Inicio</a></li>
            <li><a routerLink="/quienes-somos">¿Quiénes somos?</a></li>
            <li><a routerLink="/servicios">Servicios</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
            <li><a routerLink="/login">Iniciar sesión</a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
    </nav>
    <img src="assets/logo_od.ico"  class="logo">

</header>

<section>
    <h3>Nuestra Historia</h3>
    <p>Nacida del deseo de independencia profesional de su fundadora, Odontología Integral se ha convertido en un testimonio de dedicación y éxito. Tras acumular valiosa experiencia trabajando en otros consultorios, nuestra fundadora decidió abrir su propio espacio, permitiéndole ejercer su carrera de forma autónoma. El crecimiento continuo del consultorio y la constante llegada de nuevos pacientes reflejan el compromiso y la excelencia de Odontología Integral.</p>
</section>

<section>
    <h3>Nuestra Misión</h3>
    <p>Nuestra misión es proporcionar atención dental de calidad, utilizando tecnología avanzada y un enfoque centrado en el paciente. Nos comprometemos a la excelencia en el servicio y la mejora continua.</p>
    <ol>
        <li>Atención al paciente</li> <br>
        <li>Excelencia en el servicio</li><br>
        <li>Innovación tecnológica</li><br>
        <li>Compromiso con la comunidad</li>
    </ol>
</section>

<section>
    <h3 style="text-align: center;">Conoce a Nuestro Equipo</h3>
    <div class="team-member">
        <h4 style="text-align: center;">Dra. Nancy Sánchez Garcia</h4>
        <img style="width: 250px; padding-left: 40%;" src="assets/img/imagendoc.png" alt="Dra. Nancy Sánchez">
        <h4 style="padding-top: 10px; text-align: center;">Cédula profesional 4260898</h4>
        <p style="padding-top: 20px; text-align: center;">Odontóloga principal y fundadora del consultorio. Especializada en odontología integral con más de 20 años de experiencia.</p>
    </div>
</section>

<section>
    <h3>Testimonios de Pacientes</h3>
    <blockquote>
        <p>"La Dra. Sánchez y su equipo me brindaron una atención excelente. Estoy muy satisfecho con los resultados."</p>
    
    <div class="user-rating">
        <p>Emmanuel Gomez</p>
        <div class="stars">
            <span class="filled">★</span>
            <span class="filled">★</span>
            <span class="filled">★</span>
            <span class="filled">★</span>
            <span class="filled">★</span>
        </div>
    </div> 
    <p>"Tenía mucho miedo de ir al dentista, pero el Dr. Sánchez me hizo sentir cómodo y seguro. ¡Recomiendo su consultorio a todos mis amigos!"</p>
<div class="user-rating">
<p>Maria Rodriguez</p>
<div class="stars">
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
</div>
</div> 
<p>"El personal es muy amable y profesional. Me explicaron cada paso del procedimiento y resolvieron todas mis dudas. ¡Volveré sin duda alguna!"</p>
<div class="user-rating">
<p>Osiel Cabrera</p>
<div class="stars">
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
</div>
</div> 

<p>"Desde la primera visita, sentí que estaba en buenas manos. La Dra. Sánchez es muy atenta y su equipo es increíble. Mi sonrisa nunca ha estado mejor."</p>
<div class="user-rating">
<p>Ana Martinez</p>
<div class="stars">
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
</div>
</div> 

<p>"Me encanta la atención personalizada y el ambiente acogedor del consultorio. Mis hijos también se sienten a gusto y ya no tienen miedo de las visitas al dentista."</p>
<div class="user-rating">
<p>Laura Moreno</p>
<div class="stars">
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
</div>
</div> 

<p>"El servicio es de primera clase. La Dra. Sánchez utiliza la última tecnología y técnicas avanzadas para asegurar los mejores resultados. Estoy muy feliz con mi tratamiento."</p>
<div class="user-rating">
<p>Carlos Morales</p>
<div class="stars">
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span class="filled">★</span>
    <span >★</span>
</div>
</div> 
<section>
<h3>Calificación del Servicio</h3>
<div class="rating">
    <input type="radio" id="star5" name="rating" value="5" />
    <label for="star5" title="5 estrellas">&#9733;</label>
    <input type="radio" id="star4" name="rating" value="4" />
    <label for="star4" title="4 estrellas">&#9733;</label>
    <input type="radio" id="star3" name="rating" value="3" />
    <label for="star3" title="3 estrellas">&#9733;</label>
    <input type="radio" id="star2" name="rating" value="2" />
    <label for="star2" title="2 estrellas">&#9733;</label>
    <input type="radio" id="star1" name="rating" value="1" />
    <label for="star1" title="1 estrella">&#9733;</label>
</div>
</section>
    </blockquote>
</section>

<section>
    <h3>Compromiso con la Comunidad</h3>
    <p>En Odontología Integral, creemos en retribuir a la comunidad...</p>
</section>
