.sidebar-custom {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  height: 100vh;
  position: fixed;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.sidebar-custom.collapsed {
  transform: translateX(-250px);
}

.sidebar-header {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  margin-bottom: 20px;
}

.sidebar-header img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.nav-link {
  color: #ffffff;
  background-color: #343a40;
  padding: 10px 20px;
  margin: 5px 0;
}

.nav-link:hover {
  background-color: #565656;
}

.nav-link.active {
  background-color: #000000;
}

.content {
  margin-left: 260px;
  padding: 30px;
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

.content.collapsed {
  margin-left: 10px;
}

canvas {
  width: 100%;
  height: 150px; /* Reducido de 200px a 150px */
}