.sidebar-custom {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  height: 100vh;
  position: fixed;
}

.sidebar-header {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
}

.nav-link {
  color: #ffffff;
  background-color: #343a40;
  padding: 10px 20px;
}

.nav-link:hover {
  background-color: #000000;
}

.nav-link.active {
  background-color: #000000;
  color: #000000;
}

.content {
  margin-left: 260px;
  padding: 20px;
  flex: 1;
  
}
canvas {
  width: 100%;
  height: 300px;
}