<header class="masthead">
  <nav class="navbar">
      <div class="container">
          <!-- Logo y título del sitio -->
          <a class="navbar-brand" href="#">
              <img src="assets/img/logo_od.png" alt="Logo Odontología Integral" class="navbar-logo">
              <span>Odontología Integral</span>
          </a>

          <!-- Opciones de navegación -->
          <ul class="navbar-menu">
              <li><a routerLink="/inicio">Inicio</a></li>
              <li><a routerLink="/quienes-somos">¿Quiénes somos?</a></li>
              <li><a routerLink="/servicios">Servicios</a></li>
              <li><a routerLink="/contacto">Contacto</a></li>
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
              <li><a routerLink="/login">Iniciar sesión</a></li>
          </ul>
      </div>
  </nav>

  <!-- Título en el encabezado -->
  <div class="container text-center">
      <h1 class="masthead-title">Iniciar Sesión</h1>
  </div>
</header>

<div class="container formulario-container">
  <div class="formulario-contenido">
    <div class="formulario-texto">
      <p class="titulo" style="font-size: 1.2rem;">Por favor, inicie sesión para acceder a su panel personal y gestionar sus citas y tratamientos.</p>

      <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()" class="formulario">
        <div class="form-group">
          <label for="email" class="form-label">Correo Electrónico *</label>
          <input id="email" formControlName="email" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Contraseña *</label>
          <input type="password" id="password" formControlName="password" class="form-control" required>
        </div>

        <div class="form-group text-center">
          <input type="submit" value="Iniciar Sesión" class="btn btn-primary" [disabled]="loginForm.invalid">
        </div>
      </form>
    </div>

    <div class="formulario-video">
      <video autoplay muted loop controls>
        <source src="assets/video/login.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>
    </div>
  </div>
</div>

<div class="loading-overlay" *ngIf="cargando">
  <img src="assets/img/logo_od.ico" class="logo">

  <p>Redirigiendo al panel...</p>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer-contenido">

      <div class="redes-sociales">
        <h4>Redes Sociales</h4>
        <a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank"
          class="social-link facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank"
          class="social-link instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/1234567890" target="_blank" class="social-link whatsapp">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>


      <div class="infor_macion">
        <div>
          <p>Dirección: Avenida 3 Entre Calles 1 y 2, Fortín de las Flores, Veracruz, México</p>
        </div>
        <div>
          <p>Teléfono: +52 271 240 5758</p>
        </div>
        <div>
          <p>Correo: consultoriodentalintegral12&#64;gmail.com</p>
        </div>
      </div>
    </div>

    <p class="footer-text text-center">© 2025 Odontología Integral. Todos los derechos reservados.</p>
  </div>
</footer>
