<div class="titulo">
  <h3>Odontología Integral</h3>
</div>

<h2>Consultorio dental de la Dra. Nancy Sánchez</h2>

<header class="barra">
  <nav>
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/quienes-somos">¿Quiénes somos?</a></li>
      <li><a routerLink="/servicios">Servicios</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <li><a routerLink="/iniciar-sesion">Iniciar sesión</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
    </ul>
  </nav>
  <img src="assets/logo_od.ico" alt="Logo de la empresa" class="logo">
</header>

<h1 class="titulo1">Iniciar Sesión</h1>
<h1 style="text-align: center; font-size: 20px;" class="bienvenida">
  Bienvenido a Odontología Integral. Por favor, inicie sesión para acceder a su panel personal y gestionar sus citas y tratamientos.
</h1>

<form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()" class="formulario-crear-cuenta">
  <label for="email" class="etiqueta-formulario">Usuario *</label>
  <input id="email"  formControlName="email" class="entrada-formulario" required>

  <label for="password" class="etiqueta-formulario">Contraseña *</label>
  <input type="password" id="password" formControlName="password" class="entrada-formulario" required>

  <input type="submit" value="Iniciar Sesión" class="boton-formulario" [disabled]="loginForm.invalid">
</form>

<div class="loading-overlay" *ngIf="cargando">
  <img src="assets/logo_od.ico" class="logo">

  <p>Redirigiendo al panel...</p>
</div>

<footer>
  <div class="redes_ss">
    <div class="redes-sociales">
      <div><p style="margin-right: 30px;">Redes Sociales</p></div>
      <a href="https://www.facebook.com/profile.php?id=61563612633841&mibextid=ZbWKwL" target="_blank" class="social-button facebook"><i class="fab fa-facebook"></i> Odontología Integral</a>
      <a href="https://www.instagram.com/odonto_logia_integral?igsh=YTcwOXFzcXpibzJ3" target="_blank" class="social-button instagram"><i class="fab fa-instagram"></i> &#64;odonto_logia_integral</a>
      <a href="https://wa.me/123456789" target="_blank" class="social-button whatsapp"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
  <div class="infor_macion">
    <div><p style="margin-right: 20px; margin-bottom: auto; font-size: 17px;">Dirección: Avenida 3 Entre Calles 1 y 2, Fortín de las Flores, Veracruz, México</p></div>
    <div><p style="margin-bottom: auto; font-size: 17px; margin-right: 400px;">Teléfono: +52 271 240 5758</p></div>
    <div><p style="margin-right: 250px; margin-bottom: auto; font-size: 17px;">Email: consultoriodentalintegral12&#64;gmail.com</p></div>
  </div>
  <div class="derechos">
    <p style="padding-top: 150px;">&copy; 2024 Odontología Integral. Todos los derechos reservados.</p>
  </div>
</footer>