<div class="sidebar-custom">
  <div>
    <div class="sidebar-header">
      <img src="assets/logo_od.png" alt="Logo de la empresa">
      <h4>Odontología Integral</h4>
      <div id="usuario"></div>
    </div>
    <nav class="nav flex-column">
      <a id="activo" class="nav-link" routerLink="/panel">Inicio</a>
      <a class="nav-link" routerLink="/gestionar-citas"><i class="fas fa-calendar"></i> Citas</a>
      <a class="nav-link" routerLink="/gestionar-citas-programadas"><i class="fas fa-calendar-check"></i> Citas Programadas</a>
      <a class="nav-link" routerLink="/gestionar-inventario"><i class="fas fa-boxes"></i> Inventario</a>
      <a class="nav-link" routerLink="/gestionar-servicios"><i class="fas fa-briefcase-medical"></i> Servicios</a>
      <a class="nav-link" routerLink="/gestionar-usuarios"><i class="fas fa-users"></i> Usuarios</a>
      <a class="nav-link" href="#" id="logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </nav>
  </div>
  <div class="sidebar-footer">
    &copy; 2024 Odontología Integral. Todos los derechos reservados.
  </div>
</div>
